MunicipalidadCallao/src/conf/xml-resources/web-service-references/Mef/wsdl/localhost_8080/MEF/Mef.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://pe.mef.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://pe.mef.com/">

<xs:element name="consultarDatosMeef" type="tns:consultarDatosMeef"/>

<xs:element name="consultarDatosMeefResponse" type="tns:consultarDatosMeefResponse"/>

<xs:complexType name="consultarDatosMeef">
<xs:sequence>
<xs:element name="marca" type="xs:string" minOccurs="0"/>
<xs:element name="modelo" type="xs:string" minOccurs="0"/>
<xs:element name="anio" type="xs:string" minOccurs="0"/>
<xs:element name="fabricacion" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultarDatosMeefResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>