MunicipalidadCallao/web/WEB-INF/wsdl/localhost_8080/Sunarp/SunarpWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://pe.sunarp.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://pe.sunarp.com/">

<xs:element name="consultarSunarp" type="tns:consultarSunarp"/>

<xs:element name="consultarSunarpResponse" type="tns:consultarSunarpResponse"/>

<xs:complexType name="consultarSunarp">
<xs:sequence>
<xs:element name="numeroDocumento" type="xs:string" minOccurs="0"/>
<xs:element name="placa" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultarSunarpResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>